p {
  background: #FAEBD7;
  margin: 5px;
  display: inline-block;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: aqua;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}

#Site_Code {
	width:50%;

}

#Start_Date {
	width:50%;
}

#End_Date {
	width:50%;
}